
*{

    margin:0;
     padding:0;
  }
  html {
    scroll-behavior: smooth;
  }


  /* <naigator section foe the menu bar> */
  .topnav{
    /* background-color: #0056b3; */
   z-index: 2;
    width: 60%;
 top: 0;
    margin-left: 30%;
    }
    .topnav a{
        float:right;
        display: block;
         color:black;
        text-align: center;
      
        font-family: 'Vollkorn', serif;
        padding: 5px 15px;
        text-decoration: none;
      top:10px;
      margin-top: 10px;
        font-size: 16px;
    }

   
    .icon{
        background-color: #3277c1;
        border:2px solid #3277c1;
        border-radius: 5px;
        margin-right: 10px;
        
    }
.icon p{
    color: white;
    font-weight: 500;
}
.login{
  
  border:1px solid #3277c1;
  border-radius: 5px;
  
}
.login:hover{
  background-color: #DFF1FF;
}
.favorites-link {
  display: inline-flex; 
}

.heart-icon {
  margin-right: 10px; 
}

    .topnav2{
        z-index: 2;
         width: 60%;
         margin-left: 20%;
         margin-top: 2%;
         border-top: 1px solid #989799;
         border-bottom: 1px solid #989799;
         height: 5vh;
         position: relative;
         }
         .topnav2 a{
        
             float:right;
         font-weight: bold;
              color:#2b2b2b; 
              margin-right: 2%;
             text-align: center;
             padding: 14px 20px;
             text-decoration:solid;
           top:15px;
             font-size: 14px;
             font-family: Arial, Helvetica, sans-serif;
             
         }
        
      
      
      .topnav2 a::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background-color: #758199; 
          transition: width 0.3s ease-in-out;
      }
      
      .topnav2 a:hover::after {
          width: 100%;
      }
      
/* .topnav2::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  width: 100%;
  z-index: 2;
  height: 30vh; 
  background-color: red; 
  opacity: 0; 
  transition: opacity 0.3s ease-in-out;
}

.topnav2:hover::before {
  opacity: 1;  
} */


.hoverdiv {
  display: none;
  width: 100%;
  height: 30vh;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 1;
}

.topnav2:hover .hoverdiv {
  display: block;
}




  /* <>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
 
.Romance{

 background-color:#fff;
  min-height: 100vh;
   top: 0;
   z-index:0;
   background-position: center;
   background-size: cover;
   position: relative;

 } 








.search input[type="text"] {
    padding: 10px;
/* background-color: red;  */
 width: 55%;
   height: 2.5vh;
   margin-left: 20%;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 5%;
}


.search button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
   
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Add some hover effect for the button */
.search button:hover {
    background-color: #0056b3;
}
.specialoffer {
    /* background-color: red; */
    width: 100%;
    height: 30vh;
    margin-top: 20px;
  
    left: 0;
    background-size: cover;
    background-position: center;
   
    animation: backgroundChange 12s infinite;
  }
  
  @keyframes backgroundChange {
    0% {
      background-image: url(/Images/Nolu1.png);
      transform: translateX(-100%);
    }
    25% {
      
      background-image: url(/Images/Nolu1.png);
      transform: translateX(0%);
    }
    50% {
      background-image: url(/Images/img3.jpg);
      transform: translateX(-100%);
    }
    75% {
      background-image: url(/Images/beauty.jpg);
      transform: translateX(0%);
    }
    100% {
      background-image: url(/Images/img1.jpg);
      transform: translateX(-100%);
    }
  }

.topsellers{
  width: 60%;
  height: 5vh;
  margin: 1% auto;
  border-top: 1px solid #989799;
  border-bottom: 1px solid #989799;
  
}
.topsellers h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 1%;
}
  .catDiv{
  
  display: flex;

  padding: 10px;
  justify-content: space-between;
  }
  .serv1{
    flex-basis: 30%;
    /* background:#DADDE2; */
    border-radius:2px solid  #F4ECFF;
    margin-bottom: 5%;
    padding: 20px 6px;
    box-sizing: border-box;
  
  
  }
  .serv1 h2{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  .tobchosen{
    
     width: 60%;
     margin-left: 20%;
     margin-top: 2%;
     /* height: 5vh; */
     position: relative;
     }
     .tobchosen a{
    
         float:right;
     font-weight: bold;
          color:#5D5C5E; 
          margin-right: 0%;
         /* text-align: center; */
         /* padding: 14px 20px; */
         text-decoration:solid;
       top:15px;
         font-size: 14px;
         font-family: Arial, Helvetica, sans-serif;
         
     }
     .slideshow-container {
      width: 100%;
      position: relative;
      margin: auto;
    }


.imgcontainer{
  display: flex;
  padding: 10px;
  height: 300px;
  justify-content: space-between;
}
.book{
  flex-basis: 30%;
  background-color: #007bff;
  border-radius:2px solid  #F4ECFF;
  
  padding: 20px 6px;
  
  box-sizing: border-box;


}
.bookdet{
  width: 100%;
height: 100%;

}

.bookinfo{
  text-align: center;
}
.bookinfo h3{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

.bookinfo p{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  color: #5D5C5E;
  font-weight: bold;
}
.slideshow-container {
 width: 60%;
  position: relative;
  margin: 20px auto;
}

.mySlides {
  display: none;
}

.prev{
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-size: 20px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}
.next {
  position: absolute;
  right: 0;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-size: 20px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}
.prev:hover, .next:hover {
  background-color: #ddd;
  color: black;
}

.fade {
  animation: fade 1.5s ease-in-out;
}

@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}
.biocontainer{
  width: 60%;
  height: 30vh;
  margin: 1% auto;
  display: flex;
  padding: 10px;

  justify-content: space-between;
}

.insidecon {
  position: relative;
  display: inline-block;
  flex-basis: 20%;
}

.bookconte {
  position: absolute;
  bottom: 20%;
  left: 0;
  background: rgba(255, 255, 255, 0.8); /* Adjust background color and opacity as needed */

  visibility: hidden;
  opacity: 0;
  width: 95%;
  transition: opacity 0.3s;
  transition: width 0.3s ease-in-out;
}

.insidecon:hover .bookconte {
  visibility: visible;
  opacity: 1;
}

.cart-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff; /* Adjust background color as needed */
  color: white;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.cart-overlay  a{
  margin-right: 5px;
  cursor: pointer;
  text-decoration: none;
}
.bookimg {
 
  cursor: pointer;
}
.Footer{
    width:100%;
   
    /* text-align:center; */
    height: 20em;
    color: black;
    background-color: #d7d3d3;
  
  
  
  }
  .footinfor{
  
    display: flex;
    justify-content: space-between;
  
  }
  .infoUs{
    flex-basis: 30%;
    padding: 20px 6px;

  }
 .infoUs h2{
  font-size: 18px;
  padding: 10px 0;
 }
.infoUs p{
  padding: 10px 0;
}
 .infoUs a{
  
  display: block;
  text-decoration: none;
  padding: 10px 0;
  font-weight: bold;
  color:#5D5C5E; 
 text-decoration:solid;
  top:15px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
 }
 .fitfooter{
  width: 60%;
margin: 0 auto;
}
.subscribe-section {
  text-align: center;
 
}

.subscribe-section form {
  max-width: 400px;
  margin: auto;
}

.subscribe-section label {
  display: block;
  margin-bottom: 8px;
}

.subscribe-section input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.subscribe-section button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.subscribe-section button:hover {
  background-color: #0056b3;
}
.flex-container {
  display: flex;
}

.flex-item {
  flex: 1;


  margin: 5px;
}
.flex-item h3{
  margin-left: 30%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.flex-item a{
  display: block;
  float: left;
  padding: 10px 0;
  font-weight: bold;
  color:#5D5C5E; 
 text-decoration:solid;

  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
