
*{

    margin:0;
     padding:0;
  }
  html {
    scroll-behavior: smooth;
  }


  /* <naigator section foe the menu bar> */
  .topnav{
    /* background-color: #0056b3; */
   z-index: 2;
    width: 60%;
 top: 0;
    margin-left: 30%;
    }
    .topnav a{
        float:right;
        display: block;
         color:black;
        text-align: center;
      
        font-family: 'Vollkorn', serif;
        padding: 5px 15px;
        text-decoration: none;
      top:10px;
      margin-top: 10px;
        font-size: 16px;
    }

    .topnav a:hover {
        background-color:#3E4756;
     
    }
    .icon{
        background-color: #3277c1;
        border:2px solid #3277c1;
        border-radius: 5px;
        margin-right: 10px;
        
    }
.icon p{
    color: white;
    font-weight: 500;
}
    .topnav2{
        z-index: 2;
         width: 60%;
         margin-left: 20%;
         margin-top: 2%;
         border-top: 2px solid #989799;
         border-bottom: 2px solid #989799;
         height: 5vh;
         position: relative;
         }
         .topnav2 a{
        
             float:right;
         font-weight: bold;
              color:#5D5C5E; 
              margin-right: 2%;
             text-align: center;
             padding: 14px 20px;
             text-decoration:solid;
           top:15px;
             font-size: 14px;
             font-family: Arial, Helvetica, sans-serif;
             
         }
    
         
      
      
      .topnav2 a::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background-color: #758199; /* Color of the line */
          transition: width 0.3s ease-in-out;
      }
      
      .topnav2 a:hover::after {
          width: 100%;
      }
      
/* .topnav2::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  width: 100%;
  z-index: 2;
  height: 30vh; 
  background-color: red; 
  opacity: 0; 
  transition: opacity 0.3s ease-in-out;
}

.topnav2:hover::before {
  opacity: 1;  
} */

.topnav2 .hoverdiv {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 30vh;
  padding: 10px;
  background-color:#F7F7F7;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.topnav2:hover .hoverdiv {
  display: block;
}




  /* <>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
 
.Romance{

 background-color: white;
  
  min-height: 100vh;
   top: 0;
   z-index:0;
   background-position: center;
   background-size: cover;
   position: relative;

 } 



.search {
    text-align: center;
    
    
    
}

/* Style the form for the search bar */
.search form {
    display: inline-block;
    
}

/* Style the search input field */
.search input[type="text"] {
    padding: 10px;
    width: 100vh; 
    /* border-radius: 5px; */
   margin-top: 10%;
   
    border: 1px solid #ccc;
    border-radius: 20px;
}

/* Style the search button */
.search button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Add some hover effect for the button */
.search button:hover {
    background-color: #0056b3;
}
.specialoffer {
    /* background-color: red; */
    width: 100%;
    height: 30vh;
    margin-top: 20px;
  
    left: 0;
    background-size: cover;
    background-position: center;
   
    animation: backgroundChange 12s infinite;
  }
  
  @keyframes backgroundChange {
    0% {
      background-image: url(/Images/img2.jpg);
      transform: translateX(-100%);
    }
    25% {
      
      background-image: url(/Images/Nolu1.png);
      transform: translateX(0%);
    }
    50% {
      background-image: url(/Images/img3.jpg);
      transform: translateX(0%);
    }
    75% {
      background-image: url(/Images/beauty.jpg);
      transform: translateX(0%);
    }
    100% {
      background-image: url(/Images/img1.jpg);
      transform: translateX(-100%);
    }
  }

  .catDiv{
  
  display: flex;

  padding: 10px;
  justify-content: space-between;
  }
  .serv1{
    flex-basis: 30%;
    /* background:#DADDE2; */
    border-radius:2px solid  #F4ECFF;
    margin-bottom: 5%;
    padding: 20px 6px;
    box-sizing: border-box;
  
  
  }
  .serv1 h2{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  .tobchosen{
    
     width: 60%;
     margin-left: 20%;
     margin-top: 2%;
     /* height: 5vh; */
     position: relative;
     }
     .tobchosen a{
    
         float:right;
     font-weight: bold;
          color:#5D5C5E; 
          margin-right: 0%;
         /* text-align: center; */
         /* padding: 14px 20px; */
         text-decoration:solid;
       top:15px;
         font-size: 14px;
         font-family: Arial, Helvetica, sans-serif;
         
     }
     .slideshow-container {
      width: 100%;
      position: relative;
      margin: auto;
    }
.slide1{
  width: 60%;

  background-color: red;
  margin:  50px auto;
}

.imgcontainer{
  display: flex;
  padding: 10px;
  height: 300px;
  justify-content: space-between;
}
.book{
  flex-basis: 30%;
  background-color: #007bff;
  border-radius:2px solid  #F4ECFF;
  
  padding: 20px 6px;
  
  box-sizing: border-box;


}
.bookdet{
  width: 100%;
height: 100%;
background-color: yellow;}

/* .slide2{
  width: 60%;
 
  background-color: Blue;
  margin:  50px auto;
}
.slide3{
  width: 60%;
 
  background-color: green;
  margin:  50px auto;
}  */

.slideshow-container {
 width: 60%;
  position: relative;
  margin: 20px auto;
}

.mySlides {
  display: none;
}

.prev{
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-size: 20px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}
.next {
  position: absolute;
  right: 0;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-size: 20px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}
.prev:hover, .next:hover {
  background-color: #ddd;
  color: black;
}

.fade {
  animation: fade 1.5s ease-in-out;
}

@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

.Footer{
    width:100%;
    margin-top: 0px;
    text-align:center;
    height: 15em;
  /* height: 10em; */
    /* padding-top: 15px; */
    color: white;
    background-color: #3E4756;
  
  
  
  }
  .footinfor{
  
    display: flex;
    justify-content: space-between;
  
  }
  .infoUs{
    flex-basis: 30%;
  }
  .copyright{
    width: 100%;
    background-color: #758199;
    height: 15%;
  
  }