@import url(Variables.css);
*{
    margin: 0;
    padding: 0;
}

.page form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
}

/* Style for all labels */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Style for all text inputs and email */
#form input[type="text"],
#form input[type="email"],
#form input[type="cell"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style for the submit button */
#form button[type="submit"] {
    width: 100%;
    background-color: var(--secondary-clr);
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: var(--secondary-clr);
}

/* Add some hover effects to inputs */
input[type="text"]:hover,
input[type="email"]:hover,
input[type="cell"]:hover {
    border-color: #1a73e8;
}
.slideshow-container1 {
    width: 70%;
     position: relative;
     margin: 20px auto;
     /* background-color: #5D5C5E; */
   }
   
   .mySlides {
     display: none;
   }
   
.prev {
  position: absolute;
  left: -20px;
  padding: 16px;
  top: 50%; 
  transform: translateY(-50%); 
  font-size: 20px;
  color: #333;
  border: none;
  cursor: pointer;
}

.next {
  position: absolute;
  right: -20px;
  
  padding: 16px;
  top: 50%; /* Position the top of the arrow at the center */
  transform: translateY(-50%); 
  font-size: 20px;
  color: #333;
 
  border: none;
  cursor: pointer;
}
.prev:hover, .next:hover {

  color: #ddd;
}

   .slideshow-container {
    width: 100%;
    /* background-color: gold; */
    /* position: relative; */
    
  }


  .imgcontainer {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
  }
  
  .Book {
    flex-basis: 20%;
    padding: 10px; /* Adjust padding as needed */
    box-sizing: border-box;
  }
  
  /* Set the image within each book container to fill the available space */
  .Book img {
    width: 100%; /* Ensure the image fills the width of the container */
    height: 100%; /* Ensure the image fills the height of the container */
    object-fit: cover; /* Maintain aspect ratio and fill the container */
    border-radius: 2px;
    border: 2px solid #F4ECFF;
  }
  
.Book:hover{
    cursor: pointer;
}
.slideshow-container1 {
width: 70%;
position: relative;
margin: 20px auto;
/* background-color: #5D5C5E; */
}

.mySlides {
display: none;
}

   .fade {
     animation: fade 1.5s ease-in-out;
   }
   
   @keyframes fade {
     from { opacity: 0.4; }
     to { opacity: 1; }
   }
 #poptxt{
    width: 60%;
    min-height: 5vh;
    margin: 1% auto;
   
    border-top: 1px solid #989799;
    border-bottom: 1px solid #989799;
    
  }
  #poptxt h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 1%;
  }
  @media screen and (max-width: 767px) 
{
  .slideshow-container1 {
    width: 100%;
     position: relative;
     display: flex;
     justify-content: space-between;
  
     margin: 20px auto;
     /* background-color: #5D5C5E; */
   }
   
  .book img{
    width: 100%;
    height: auto;
  }
}