@import url('Variables.css');
body {
    font-family: 'Arial', sans-serif;
    
}

h1 {
    color: #333;
}

p {
    color: #555;
    line-height: 1.6;
}
.mybody{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
}/* Privacy Policy Styles */
.privacy-policy {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    line-height: 1.6;
    color: #333;
  }
  
  .privacy-policy h2 {
    color: #2C3E50;
    margin-bottom: 10px;
  }
  
  .privacy-policy h3 {
    color: #34495E;
  }
  
  .privacy-policy p {
    margin-bottom: 10px;
  }
  
  .privacy-policy ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .privacy-policy a {
    color: #2980B9;
    text-decoration: none;
  }
  
  .privacy-policy a:hover {
    text-decoration: underline;
  }
  
@media  (max-width:768px) and  (min-width: 226px)
{

}