@import url(Variables.css);
*{

    margin:0;
     padding:0;
  }
  html {
    scroll-behavior: smooth;
  }
  .content{

    background-color:#FFFFFF;
     min-height: 100vh;
      top: 0;
      z-index:0;
      background-position: center;
      background-size: cover;
      position: relative;
    
            justify-content: center;
            align-items: center;
  }
  
    .favorites-link {
      display: inline-flex; 
    }
    
    .heart-icon {
      margin-right: 10px; 
    }
    .search input[type="text"] {
        padding: 10px;
    background-color: #FFFFFF; 
     width: 55%;
       height: 2.5vh;
       margin-left: 20%;
        border: 2px solid #ccc;
        border-radius: 20px;
        margin-top: 2%;
    }
    
    
 
 
    
 
    .flexit{
      margin-top: 2rem;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;
      
    }
    .biocontainer2{
      width: 60%;
     min-height: 30svh;
      margin: 0 auto;
      display: flex;
      padding: 10px;
      position: relative;
    text-align: center;
      justify-content: space-between;
    }
    .book-container2{
      /* background-color: red; */
     
      display: flex;
      justify-content: space-between;
      width: 100%;
      
     min-height: 30svh;
      text-align: center;
    }
    .book2{
      position: relative;
    }
    .book2 img{
      width: 100%;
      height: auto;
    }
    .cart-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      color: white;
      font-weight: bold;
      font-size: 25px;
      background-color: rgba(0, 0, 0, 0.8);
      overflow: hidden;
      transition: height 0.3s;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .book2:hover .cart-overlay {
      height: 20%;
    }
.carts-icon {
  font-size: 16px; /* Adjust the size as needed */
  margin-right: 5px; /* Adjust spacing between icon and count */
}




.remove-item-btn {
  background-color: #e74c3c; /* Customize the button color */
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
#headus{
  display: none;
}
.remove-item-btn:hover {
  background-color: #c0392b; /* Change color on hover */
}

.product-info{
        display: flex;
        width: 60%;
        height: 60vh;
        /* flex-wrap: wrap; */
      
        
        margin: 20px auto;
        position: relative;
    }
    .titlebook{
        min-height: 20vh;
        /* background-color: pink; */
        width: 50%;
        margin: 20px auto;
        /* flex-wrap: wrap; */
        
    }
    #bookTitle{
        font-size:2rem;
        padding: var(--pd-xsm);
        font-family: Arial, Helvetica, sans-serif;
    }
    #bookAuthor{
        font-size: 30px;
        padding: 10px;
        color: #5D5C5E;
        font-family: Arial, Helvetica, sans-serif;

    }
#price{
    font-size: 30px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.estimation{
    display: flex;
    justify-content: space-between;
}
/* .estimation h3{
    font-size: 14px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
}
.estimation h4{
    font-size: 13px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
} */
.ButtonSec{
    display: flex;
    margin: 10px;
}
.cartbutt{
    /* border:1px solid #3277c1; */
    background-color: var(--secondary-clr);
    border-radius: 1rem; 
    width: 35%; 
    position: relative;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}
.cartbutt:hover{
  cursor: pointer;
  /* background-color: lightblue; */
}
.Wishbutt{
    border:1px solid  #F89880;
    background-color:  #F89880;
    border-radius: 1rem; 
    width: 35%; 
    padding: 12px;
    margin: 10px;
    text-align: center;
}
.bookCond{
    width: 100%;
    height: 6vh;
    margin: 10px;
    display: flex;
    /* background-color: #0056b3; */
}
/* styles.css */


.Condition{
/* text-align: center; */
/* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    /* width: 30%;  */
}
/* .bookApp{
    border:1px solid  #000000;
    border-radius: 20px;
    padding: 12px;
    margin: 10px;
    height: 5vh;
} */
.bookApp p {
  max-height: 200px; /* Adjust based on your preference */
  overflow: auto; /* Adds a scrollbar if the content overflows */
  word-wrap: break-word; /* Ensures long words do not cause spillover */
}

/* Optional: For a nicer look with ellipsis */
.bookApp p {
  white-space: nowrap; /* Prevents text from wrapping to a new line */
  overflow: hidden; /* Hides overflow content */
  text-overflow: ellipsis; /* Adds ellipsis to indicate clipped text */
  max-width: 100%; /* Ensures the paragraph does not exceed the div width */
}


.topsellers{
    width: 60%;
    height: 5vh;
    position: relative;
    margin: 1% auto;
    border-top: 1px solid #989799;
    border-bottom: 1px solid #989799;
    
  }
  .topsellers h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 1%;
  }
  .morebooks{
    /* background-color: #c53e23; */
    height: 25vh;
    width: 60%;
    margin: 20px auto;
  }
  
 

.fade-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 9998; /* Ensure the background overlay is below the loader */
    display: none; /* Initially hidden */
}
  @media screen and (max-width: 767px) 
  {
    .product-info{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 60svh;
      flex-wrap: nowrap;
      margin: 20px auto;
  }
  .product-info img{
    height: 30svh;
  }

#headus{
  display: block;
  height: auto;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
  margin: 0.5rem  0rem;
}
.hideus{
  display: none;
}
#price{
  font-size: 1.15rem;
  font-weight: 600;

}

/* .estimation{
  font-size: 0.9rem;
  justify-content: space-between;
} */
.estimation{
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.titlebook{
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  /* background-color: pink; */
  width: 100%;
  margin: 20px auto;
  /* flex-wrap: wrap; */
  
}
.cartbutt{
  /* border:1px solid #3277c1; */
  background-color: var(--secondary-clr);
  border-radius: 5px; 
  width: 100%; 
  

  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}
.ButtonSec{
  display: flex;
  /* margin: 10px; */
}
.biocontainer2{
  width: 100%;
  min-height: 10svh;
  margin: 0 auto;
  display: flex;
  padding: 10px;
/* background-color: yellow; */
  justify-content: space-between;
}
/* .biocontainer2{
  width: 60%;
 min-height: 30svh;
  margin: 0 auto;
  display: flex;
  padding: 10px;
  position: relative;
text-align: center;
  justify-content: space-between;
} */
.book-container2{
  /* background-color: red; */
 
  display: flex;
  justify-content: space-between;
  width: 100%;
  
 min-height: 30svh;
  text-align: center;
}
#booktitle{
  font-size: 0.7rem;
  font-weight: 600;
    }
    #bookauthor{
  font-size: 0.75rem;
    }
    #bookprice{
  
    }
}