
*{

    margin:0;
     padding:0;
  }
  html {
    scroll-behavior: smooth;
  }
  .content{

    background-color:#FFFFF0;
     min-height: 100vh;
      top: 0;
      z-index:0;
      background-position: center;
      background-size: cover;
      position: relative;
   
    } 
    .topnav{
        /* background-color: #0056b3; */
       z-index: 2;
        width: 60%;
     top: 0;
        margin-left: 30%;
        }
        .topnav a{
            float:right;
            display: block;
             color:black;
            text-align: center;
          
            font-family: 'Vollkorn', serif;
            padding: 5px 15px;
            text-decoration: none;
          top:10px;
          margin-top: 10px;
            font-size: 16px;
        }
    
       
        .icon{
            background-color: #3277c1;
            border:2px solid #3277c1;
            border-radius: 5px;
            margin-right: 10px;
            
        }
    .icon p{
        color: white;
        font-weight: 500;
    }
    .login{
      
      border:1px solid #3277c1;
      border-radius: 5px;
      
    }
    .login:hover{
      background-color: #DFF1FF;
    }
    .favorites-link {
      display: inline-flex; 
    }
    
    .heart-icon {
      margin-right: 10px; 
    }
    .search input[type="text"] {
        padding: 10px;
    background-color: #FFFFF0; 
     width: 55%;
       height: 2.5vh;
       margin-left: 20%;
        border: 2px solid #ccc;
        border-radius: 20px;
        margin-top: 5%;
    }
    
    
    .search button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
       
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    /* Add some hover effect for the button */
    .search button:hover {
        background-color: #0056b3;
    }

    .product-info{
        display: flex;
        width: 50%;
        height: 50vh;
        /* background-color: red; */
        margin: 20px auto;
    }
    .titlebook{
        height: 20vh;
        /* background-color: pink; */
        width: 50%;
        margin: 20px auto;
        
    }
    #bookTitle{
        font-size: 40px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #bookAuthor{
        font-size: 30px;
        padding: 10px;
        color: #5D5C5E;
        font-family: Arial, Helvetica, sans-serif;

    }
#bookPrice{
    font-size: 20px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
}
.estimation{
    display: flex;
}
.estimation h3{
    font-size: 14px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
}
.estimation h4{
    font-size: 13px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
}
.ButtonSec{
    display: flex;
    margin: 10px;
}
.cartbutt{
    border:1px solid #3277c1;
    background-color: #3277c1;
    border-radius: 5px; 
    width: 35%; 
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.Wishbutt{
    border:1px solid  #F89880;
    background-color:  #F89880;
    border-radius: 5px; 
    width: 35%; 
    padding: 12px;
    margin: 10px;
    text-align: center;
}
.bookCond{
    width: 100%;
    height: 6vh;
    margin: 10px;
    display: flex;
    /* background-color: #0056b3; */
}
.Condition{
text-align: center;
    border:1px solid  #F89880;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    width: 30%; 
}
/* .bookApp{
    border:1px solid  #000000;
    border-radius: 20px;
    padding: 12px;
    margin: 10px;
    height: 5vh;
} */
.topsellers{
    width: 60%;
    height: 5vh;
    margin: 1% auto;
    border-top: 1px solid #989799;
    border-bottom: 1px solid #989799;
    
  }
  .topsellers h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 1%;
  }
/* footer styling section....................................>>>> */
.Footer{
    width:100%;
   
    /* text-align:center; */
    height: 20em;
    color: black;
    background-color: #d7d3d3;
  
  
  
  }
  .footinfor{
  
    display: flex;
    justify-content: space-between;
  
  }
  .infoUs{
    flex-basis: 30%;
    padding: 20px 6px;

  }
 .infoUs h2{
  font-size: 18px;
  padding: 10px 0;
 }
.infoUs p{
  padding: 10px 0;
}
 .infoUs a{
  
  display: block;
  text-decoration: none;
  padding: 10px 0;
  font-weight: bold;
  color:#5D5C5E; 
 text-decoration:solid;
  top:15px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
 }
 .fitfooter{
  width: 60%;
margin: 0 auto;
}
.subscribe-section {
  text-align: center;
 
}

.subscribe-section form {
  max-width: 400px;
  margin: auto;
}

.subscribe-section label {
  display: block;
  margin-bottom: 8px;
}

.subscribe-section input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.subscribe-section button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.subscribe-section button:hover {
  background-color: #0056b3;
}