<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/footstyles.css">
    <link rel="stylesheet" href="{{url_for('static', filename='/static/footstyles.css')}}">
</head>
<body>
    
        <div class="fitfooter">
          <div class="footinfor">
            <div class="infoUs">
              <h2>ABOUT US</h2>
              <p > <span id="close">Operating</span> Hours</p>
               <div class="botnav">
                <i class="fas fa-clock fa-clock"></i><span class="opening-hours">08:00-16:00 PM on weekdays</span><br>
                <i class="fas fa-clock fa-clock"></i><span class="opening-hours">08:00-16:00 PM on weekends</span>
              </div>
            </div>
            <div class="infoUs">
              <h2>CUSTOMER SERVICES</h2>
              <a href="#"> Delivery Information</a>
              <a href="#">Return Policy</a>
              <a href="#">Contact Us</a>
            </div>
            <div class="infoUs">
              <div class="subscribe-section">
                <h2>SUBSCRIBE</h2>
                <p>Subscribe for the latest news and exclusive offers!</p>
              
                <form action="/subscribe" method="post">           
                  <input type="email" id="email" name="email" placeholder="Your Email" required>      
                  <button type="submit">Subscribe</button>
                </form>
              </div>          
            </div>
           
          </div>
        <p id="mlizo">&copy; 2023 CED. All rights reserved.</p>
   
</body>
</html>