<!DOCTYPE html>
<html>
<head>
  <title>Nolu Book Store</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta charset="UTF-8">
  <script src="https://unpkg.com/feather-icons"></script>
      <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/324c7ccd76.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Gorditas&family=Josefin+Sans:ital,wght@1,500&family=PT+Serif:ital@1&family=Vast+Shadow&family=Vollkorn&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Ephesis&family=Josefin+Sans:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel = "stylesheet" href="/static/styles.css">
 
  </head>
  <body>


<!-- <div class="user-greeting">
  {% if user_authenticated %}
    <p>Hello, {{ current_user_id }}!</p>
  {% else %}
    <p>Hello, Guest!</p>
  {% endif %}
</div> -->
{%include 'navbar.html'%}
<section class = "Romance">
  
        <div class="specialoffer">  
          <div class="image1"><img src = "{{url_for('static', filename='images/book1.png')}}"></div>
          <div class="image1"><img src = "{{url_for('static', filename='images/book2.png')}}"></div>
          <div class="image1"><img src = "{{url_for('static', filename='images/book3.png')}}"></div>
          <div class="image1"><img src = "{{url_for('static', filename='images/book4.png')}}"></div>     
      </div> 
     
      <div class="topsellers">
          <h2>Top Sellers</h2>
          
        </div> 
      <div class="slideshow-container1">
        {% for group in books|batch(4) %}
          <div class="mySlides fade">
            <div class="imgcontainer">
              {% for book in group %}
                <div class="Book">
                  <div class="bookdet">
                    <img src="{{book.image_url }}" alt="{{ book.title }}" style="width:100%" height="80%">
                    <div class="bookconte">
                      <h3>{{ book.title }}</h3>
                      
                     
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      
      
   
<!-- for the biograpgy bestsellers book section -->
<div class="topsellers">
  <h2>Fiction Top Sellers</h2>
</div> 
<div class="biocontainer">
  
  
    {% set children_books = [] %}
    {% for book in books %}
        {% if book.category == 'Fiction' %}
            {% if children_books|length < 3 %}
                {% set _ = children_books.append(book) %}
                <div class="book" onclick="redirectToProductPage('{{ book.title }}','{{ book.price }}','{{ book.image_url }}','{{ book.author }}','{{ book.category }}','{{book.descri}}')">
                  <div class="cart-overlay">
                    <div class="cart-icon"><i class="fa-solid fa-cart-shopping"></i></div>
                    <p>ADD TO CART</p>
                  </div>
                  <img src="{{ book.image_url }}" alt="{{ book.title }} Cover">
                    <h3>{{ book.title }}</h3>
                    <p id="author">{{ book.author }}</p>
                    <p id="price"> R {{ book.price }}</p>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>

  
  




<!-- end of the bestsellers biograpgy section -->

<!-- for the CHILDREN bestsellers book section -->
<div class="topsellers">
  <h2>Romance Top Sellers</h2>
</div> 
<div class="biocontainer">
  
    
  
  <div class="book-container">
   
    {% set children_books = [] %}
    {% for book in books %}
        {% if book.category == 'Romance' %}
            {% if children_books|length < 3 %}
                {% set _ = children_books.append(book) %}
                <div class="book" onclick="redirectToProductPage('{{ book.title }}','{{ book.price }}','{{ book.image_url }}','{{ book.author }}','{{ book.category }}','{{book.descri}}')">
                  <div class="cart-overlay">
                    <div class="cart-icon"> <i class="fa-solid fa-cart-shopping"></i></div>
                    <p>ADD TO CART</p>
                  </div> 
                  <img src="{{ book.image_url }}" alt="{{ book.title }} Cover">
                    <h3>{{ book.title }}</h3>
                    <p id="author">{{ book.author }}</p>
                    <p id="price"> R {{ book.price }}</p>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>

</div>




<!-- end of the bestsellers CHILDREN section -->
</section>

{%include 'footer.html'%}







<!-- <this sesction is for the scrips that was used in the development >  -->
  <script src="{{ url_for('static', filename='Javascript/slide.js') }}"></script>
 
  <script src="{{ url_for('static', filename='Javascript/redirect.js') }}"></script>





<!-- <script>
  if (!window.location.href.includes('/ProductPage')) { 
    sidebar.style.display = 'none';
  }
</script> -->
  </body>
</html>
