<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='loading.css')}}">
    <link rel="stylesheet" href="/static/loading.css">
</head>

<body>
    <div class="loader-container">
        <div class="loader"></div>
    </div>

    <script>
        setTimeout(function() {
            // Hide the loader after the simulated loading time
            document.querySelector('.loader-container').style.display = 'none';
        }, 2000); // Adjust the time in milliseconds (e.g., 5000 = 5 seconds)
    </script>
    
</body>
</html>