<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel = "stylesheet" href = "../static/privacyStyles.css">
</head>
<body>
    {%include 'navbar.html'%}
    <section class="mybody">
        <div class="loader-container">
            <div class="loader"></div>
        </div>
        
      
        <div class="privacy-policy ">
            <h1>Privacy Policy</h1>

            Privacy Policy for Books and Nuks
At Book and Nuks, accessible from <a href="https://booksandnooks.co.za/">booksnadnooks</a>, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by BooksandNooks and how we use it.

<h2>1.General Information Collection
</h2>
    <p>When you engage with our site, we may collect personal information that you provide to us, such as your name, address, contact information, and payment details. We collect information when you register on our site, place an order, subscribe to a newsletter, fill out a form, or enter information on our site.
</p>
<h2>2. Use of Your Information
</h2>
    
<p>The information we collect from you may be used in one of the following ways:
</p>
<ul>To personalize your experience
</ul>
<ul>To improve our website
</ul>
<ul>To improve customer service
</ul>
<ul>To process transactions
</ul>
<ul>To administer a contest, promotion, or survey
</ul>
<ul>To send periodic emails regarding your order or other products and services
</ul>

<h2>3. Protection of Your Information
</h2>
    <p>We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information. We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to keep the information confidential.  
    </p>
<h2>4. Cookie Usage
</h2>
<p>
    Cookies are files with a small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your computer's hard drive. We use cookies to understand and save your preferences for future visits and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.

</p>

   <h2>5. Disclosure to Third Parties</h2> 
<p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.
</p>
<h2>6. Third-Party Links</h2>
    <p>Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We, therefore, have no responsibility or liability for the content and activities of these linked sites. 
    </p>
    
    <h2>7. Consent</h2>
<p>By using our site, you consent to our web site privacy policy.
</p>  
    <h2>8. Changes to our Privacy Policy</h2>
<p>
    If we decide to change our privacy policy, we will update the Privacy Policy modification date below. 
    This policy was last modified on 16 March 2024.

</p>
<h2>9. Contacting Us
</h2>
    <p>If there are any questions regarding this privacy policy, you may contact us using the information below.
    </p>
       <ul><a href="https://booksandnooks.co.za/">booksnadnooks</a>
    </ul>
     
       <ul>noluthando.shirley@gmail.com
    </ul>
       <ul>0610241384
    </ul>
        </div>    
    </section>

    {% include 'footer.html' %}
</body>
</html>