<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel = "stylesheet" href = "../static/privacyStyles.css">
</head>
<body>
    {%include 'navbar.html'%}
    <section class="mybody">
        <div class="privacyheader">
            <h1>Privacy Policy</h1>

            <p>
                This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from our website.
            </p>
        </div>
      
    
        <div class="privacybody">
            <h2>Personal Information We Collect</h2>
    
            <p>
                We collect personal information that you provide directly to us. This may include your name, email address, phone number, and any other information you choose to provide.
            </p>
        
            <h2>How We Use Your Personal Information</h2>
        
            <p>
                We use the personal information we collect for various purposes, including to provide and improve our services, to communicate with you, and to send you updates and promotional materials.
            </p>
        
            <h2>Sharing Your Personal Information</h2>
        
            <p>
                We do not sell, trade, or otherwise transfer your personal information to third parties without your consent. This does not include trusted third parties who assist us in operating our website or conducting our business, as long as those parties agree to keep this information confidential.
            </p>
        
            <h2>Security</h2>
        
            <p>
                We take reasonable precautions to protect your personal information and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered, or destroyed.
            </p>
        
            <h2>Changes to This Privacy Policy</h2>
        
            <p>
                We may update this privacy policy from time to time to reflect changes to our practices or for other operational, legal, or regulatory reasons.
            </p>
        
            <h2>Contact Us</h2>
        
            <p>
                If you have any questions about this privacy policy, please contact us at admin@cedtechnologies.com
            </p>
        </div>
        
    </section>

    {% include 'footer.html' %}
</body>
</html>