<!DOCTYPE html>
<html>
<head>
  <title>Request Book</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta charset="UTF-8">
  <link rel = "stylesheet" href = "/static/cartstyles.css">
  <script src="https://unpkg.com/feather-icons"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/324c7ccd76.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Gorditas&family=Josefin+Sans:ital,wght@1,500&family=PT+Serif:ital@1&family=Vast+Shadow&family=Vollkorn&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ephesis&family=Josefin+Sans:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
</head>
  <body>

    {%include 'navbar.html'%}
    <div class="loader-container">
      <div class="loader"></div>
  </div>
  
  <!-- Fade the background when loading -->
  <div class="fade-background"></div>
<section class = "page">
    <form action="/requestBook" method="post" id="form">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
    
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required>
    
        <label for="title">Name:</label>
        <input type="text" id="name" name="name" required>
    
        <label for="title">Email:</label>
        <input type="email" id="email" name="email" required>
    
        <label for="email">Cell:</label>
        <input type="cell" id="cell" name="cell" required>
    
    
        <button type="submit">Request</button>
    </form>
    
</section>


{%include 'footer.html'%}
</body>
</html>





